# Python
__pycache__/
*.pyc
*.pyo
*.pyd

# Virtual environments
.venv/
venv/
env/

# Build
build/
dist/
*.egg-info/

# Logs
*.log

# Data outputs
data/

# OS files
.DS_Store
Thumbs.db

# Editors
.vscode/
.idea/

# Temporary
*.tmp
